<!DOCTYPE html>
<html lang="en" ng-app="eveApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Eve</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <script src="js/jquery-2.1.0.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="app/controllers.js"></script>
  </head>
  <body ng-controller="EveCtrl">
  	<div class="container">
  	  <div class="row">
  	    <div class="col-xs-12">
          <h1>Eve Telemetrics</h1>
        </div>
  	  </div>
  	  <div id="disconnected" class="alert alert-danger" role="alert" style="display: none;">
  	    Connection lost. Trying to reconnect...
  	  </div>
  	  <div class="row">
        <div class="col-sm-3">
          <h2>Register</h2>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>
                  Description
                </th>
                <th class="text-right">
                  Enabled
                </th>
              </tr>
            </thead>
            <tbody> 
              <tr>
                <td>
                  RC
                </td>
                <td class="text-right">
                  <input type="checkbox" ng-model="data.enabled.rc" ng-change="toggleRc()"></input>
                </td>
              </tr>
              <tr>
                <td>
                  Motorcontroller
                </td>
                <td class="text-right">
                  <input type="checkbox" ng-model="data.enabled.motor" ng-change="toggleMotor()"></input>
                </td>
              </tr>
            </tbody>
          </table>
          
          <h2>Battery</h2>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>
                  Type
                </th>
                <th class="text-right">
                  Voltage
                </th>
              </tr>
            </thead>
            <tbody> 
              <tr>
                <td>
                  Electronic
                </td>
                <td class="text-right">
                  {{data.voltage.channel0 | number:2}} V
                </td>
              </tr>
            </tbody>
          </table>
        </div>
  	  
        <div class="col-sm-3">
          <h2>RC</h2>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>
                  Channel
                </th>
                <th class="text-right">
                  Value
                </th>
              </tr>
            </thead>
            <tbody> 
              <tr>
                <td>
                  #0
                </td>
                <td class="text-right">
                	{{data.rc.channel0}}
                </td>
              </tr>
              <tr>
                <td>
                  #1
                </td>
                <td class="text-right">
                	{{data.rc.channel1}}
                </td>
              </tr>
              <tr>
                <td>
                  #2
                </td>
                <td class="text-right">
                	{{data.rc.channel2}}
                </td>
              </tr>
              <tr>
                <td>
                  #3
                </td>
                <td class="text-right">
                	{{data.rc.channel3}}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        
        <div class="col-sm-3">
          <h2>Motors</h2>
          <img src="/img/motors.png"></img>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>
                  Motor
                </th>
                <th class="text-right">
                  Steps
                </th>
                <th class="text-right">
                  Speed
                </th>
                <th class="text-right">
                  Dir
                </th>
              </tr>
            </thead>
            <tbody> 
              <tr>
                <td>
                  #0
                </td>
                <td class="text-right">
                	{{data.motors.motor0.steps}}
                </td>
                <td class="text-right">
                	{{data.motors.motor0.speed}}
                </td>
                <td class="text-right">
                	{{data.motors.motor0.direction}}
                </td>
              </tr>
              <tr>
                <td>
                  #1
                </td>
                <td class="text-right">
                	{{data.motors.motor1.steps}}
                </td>
                <td class="text-right">
                	{{data.motors.motor1.speed}}
                </td>
                <td class="text-right">
                	{{data.motors.motor1.direction}}
                </td>
              </tr>
              <tr>
                <td>
                  #2
                </td>
                <td class="text-right">
                	{{data.motors.motor2.steps}}
                </td>
                <td class="text-right">
                	{{data.motors.motor2.speed}}
                </td>
                <td class="text-right">
                	{{data.motors.motor2.direction}}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
  	  </div>
    </div>
  </body>
</html>
